body {
    background-color:antiquewhite;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 2rem;
    font-family: sans-serif;
}

h2 {
    font-size: 1.5rem;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 4rem;
}

nav ul {
    list-style: none;
    text-align: center;
    background-color:rgb(125, 184, 186);
}

nav li {
    display: inline-block;
    font-size: 1.5rem;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 0.5%;
}

nav a {
    color:rgba(0, 0, 255, 0.632);
    font-family: 'Poppin', sans-serif;
    /* text-decoration: none; */
}

.main_section {
    display: flex;
    background-color:rgb(201, 201, 201);
}

.sub_section {
    display: flex;
}

.main_article {
    flex: 1;
    gap: 0.5rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1rem;
}

.sub_article {
    margin-right: 1%;
    margin-left: 1%;
}

footer {
    display: flex;
    background-color:rgb(125, 184, 186);
    
}

footer img {
    display: block;
    margin-left: 4rem;
    width: 1.8rem;
}

footer div {
    flex:1;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

footer p {
    margin-left: auto;
    margin-right: auto;
}

